/* Google Maps */
#map {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#iw-container {
  margin-bottom: 10px;
}

#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: black;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

.iw-subTitle {
  font-size: 14px;
}

#responsivePanel {}

input:valid+span:after {
  content: '✓';
  color: #26b72b;
  padding-left: 5px;
}

input:invalid+span:after {
  content: '✖';
  color: #f00;
  padding-left: 5px;
}

.linkless {
  text-decoration: none !important;
}

span.stars, span.stars span {
  display: block;
  background: url(stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

body {
  background: aliceblue;
}

.nav-pills>li>a.active {
  background-color: #0066CC !important;
  color: white !important;
}

.nav-pills>li>a:hover {
  background-color: #0066CC !important;
  color: white !important;
}

.nav-link-color {
  color: black;
}
