<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

  <!-- Creates Main Panel -->
  <div class="panel panel-default">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h2 class="panel-title text-center">Add a bathroom! <span class="glyphicon glyphicon-map-marker"></span></h2>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">

      <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
      <form name="addForm" novalidate>
        
        <button type="submit" class="btn btn-danger" ng-click="refresh()">My Location</button>
        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
        <div class="form-group">
          <label for="username">Bathroom Name <span class="badge">All fields required</span></label>
          <input type="text" class="form-control" id="username" placeholder="Jack in the Box" ng-model="formData.username" required>
        </div>
        <label>Bathroom Gender-type</label>
        <div class="form-group" required>
          <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender" required>
            Male
          </label>


          <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
            Female
          </label>


          <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="radiounisex" value="Unisex" ng-model="formData.gender">
            Unisex
          </label>

        </div>



          <label for="rating">Bathroom Rating</label>
          <input type="number" id="rating" name="rating" ng-model="formData.rating" placeholder="Min: 1, max: 5" min="1" max="5" required>
          <span class="validity"></span>


        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" value="37.3351" ng-model="formData.latitude" readonly>

          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" value="-121.8929" ng-model="formData.longitude" readonly>

        </div>

        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
        <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
