<!-- Rate Bathrooms (Put) Form -->
<div class="col-md-5">

  <!-- Creates Main Panel -->
  <div class="panel panel-default">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h2 class="panel-title text-center">Rate Bathroom</h2>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">

      <!-- Creates Form -->
      <form name="rateForm" novalidate>
        <button type="submit" class="btn btn-success" ng-click="refresh()">My Location</button>
        <div class="form-group">
          <label for="bathroomName">Bathroom Name <span class="badge">All fields required</span></label>
          <input type="text" class="form-control" id="bathroomName" name="bathroomName" ng-model="formData.bathroomName" required>
        </div>

        <div class="form-group">
          <label for="rating">Bathroom Rating</label>
          <input type="number" class="form-control" id="rating" name="rating" placeholder="1-5" min="1" max="5" ng-model="formData.rating" required>
          <span class="validity"></span>
        </div>
        <!-- Rate(Put) button. Note that its tied to updateUsers() function from rateCtrl.  -->
        <button type="submit" class="btn btn-success btn-block" ng-click="updateUsers()" ng-disabled="rateForm.$invalid">Rate</button>
      </form>
    </div>


  </div>
</div>
